.heading{
width: 100%;
text-align: left;
}
.heading h3{
    display: inline;
}
.heading button{
    float: right;
    border: 1px solid black;
}
.img1{
    width: 100%;
}
#start,#status{
    font-size: 20px;
}
#footer{
    margin: 0px;
    line-height: 2;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
}
.modal-dialog{
    width: 90%;
}
.Image_Instruct{
    width: 45%;
}